/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: rgb(0, 0, 0);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-black);

  overflow-x: hidden;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
html {
  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
/* 
@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
} */

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-black);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
  /* //////////home//////// */
  .home {
    height: 89vh !important;
  }
  .home-row .typing .static-text {
    font-size: 5rem !important ;
  }
  .home-row .typing .static-text span {
    color: #00ff00 !important ;
  }

  .home-row .typing .loop {
    font-size: 4rem !important;
  }
  /* /////about//////// */
  .about .img-div img {
    height: 30rem !important;
    width: 40rem !important;
  }
  .about {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    margin-top: 3rem !important;
  }
  .aboutSection {
    margin: 0 5rem !important;
  }
  .aboutCont {
    background-image: var(--image-gradient), url(./images/bkg2.jpg) !important;
  }
  .about .text-div {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .about .text-div h2 {
    color: var(--clr-primary-5) !important;
  }
  .about .text-div ul li #hr {
    color: var(--clr-primary-5) !important;
  }

  .about .text-div p,
  li {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    color: #fff !important;
  }

  .about .text-div p span {
    color: var(--clr-primary-5) !important;
  }
  .projectheading {
    font-size: 3rem !important;
    color: var(--clr-primary-5) !important;
    text-align: center;
    margin: 3rem 0;
  }

  .skills .row {
    display: grid !important ;
    grid-template-columns: repeat(5, 1fr) !important;
  }
  .tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
    color: var(--clr-white);
  }
  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
  }
  .tech-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }
  /* /////////////contact////////////////////////////// */
  #contact {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .page {
    position: relative !important;
    background: url(./images/header-1.jpg) !important;
    height: 89vh !important;
    overflow-y: hidden !important;
  }

  #contact .contactDiv {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-content: center !important;
    width: 65% !important;
    margin: 3rem auto !important;
  }
  #contact .contactDiv .textDiv p {
    color: #fff !important;
    font-size: 1.5rem !important;
    line-height: 1 !important;
    font-weight: 500 !important;
  }
  #contact .contactDiv .imgDiv .emailLogo {
    height: 3rem !important;
    width: 4rem !important;
    color: rgba(228, 228, 228, 0.867) !important;
    display: block !important;
  }

  .formDiv {
    display: flex !important;
    flex-direction: row !important;
    width: 60% !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    margin: 0.5rem auto !important;
    height: 0 !important;
  }
  .formDiv form textarea {
    width: 50rem !important;
  }
  .formDiv .details {
    align-self: flex-start !important;
    margin-left: 5% !important;
  }
  .formDiv .details h4 {
    font-size: 1.5rem !important;
    color: #fff !important;
    font-weight: 500 !important;
    text-align: start !important;
  }
  .formDiv .details .address p,
  .formDiv .details .address span {
    font-size: 1.2rem !important;
    color: #fff !important;
  }

  .formDiv form {
    width: 70% !important;
    margin-top: 0 !important;
  }
  .formDiv form label {
    font-size: 1.2rem !important;
    color: black !important;
    font-weight: 500 !important;
  }
  .formDiv form input {
    width: 100% !important;
    font-size: 1.5rem !important;
    font-weight: 300 !important;
  }
  .formDiv form .textArea {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    margin-top: 5% !important;
  }
  .formDiv form .submitButton button {
    width: 100% !important;
    margin-top: 3% !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    border-radius: 5px !important;
    border: 1px solid black !important;
    background-color: rgba(228, 228, 228, 0.267) !important;
  }

  .defaultLines {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: -1 !important;
  }
  /* /////////project/////// */
  .section-center {
    width: 95vw !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .bubble {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 210% !important;
    z-index: -1 !important;
  }

  .photo {
    height: 150px !important;
  }
  .menu {
    padding: 5rem 0 !important;
  }
  .title {
    text-align: center !important;
    margin-bottom: 2rem !important;
    color: #fff;
  }

  .underline {
    width: 20rem !important;
    height: 0.25rem !important;
    background: #fff !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .btn-container {
    margin-bottom: 4rem !important;
    display: flex !important;
    justify-content: center !important;
  }
  .filter-btn {
    background: #fff !important;
    border-color: silver !important;
    font-size: 1rem !important;
    text-transform: capitalize !important;
    margin: 0 0.5rem !important;
    letter-spacing: 1px !important;
    padding: 0.375rem 0.75rem !important;
    color: var(--clr-gold) !important;
    cursor: pointer !important;
    transition: var(--transition) !important;
    border-radius: var(--radius) !important;
  }
  .filter-btn:hover {
    background: var(--clr-gold) !important;
    color: var(--clr-white) !important;
  }
  .section-center {
    width: 90vw !important;
    margin: 0 auto !important;
    max-width: 1170px !important;
    display: grid !important;
    gap: 3rem 2rem !important;
    justify-items: center !important;
    margin-bottom: 0 !important;
  }
  .item {
    grid-template-columns: 225px 1fr !important;
    gap: 0 1.25rem !important;
    max-width: 40rem !important;
  }
  .photo {
    object-fit: cover !important;
    height: 200px !important;
    width: 100% !important;
    border: 0.25rem solid var(--clr-gold) !important;
    border-radius: var(--radius) !important;
    display: block !important;
  }
  .item-info header {
    display: flex !important;
    justify-content: space-between !important;
    border-bottom: 0.5px solid var(--clr-grey-5) !important;
  }
  .item-info h4 {
    margin-bottom: 0.5rem !important;
    font-size: 1.2rem !important;
    color: #fff !important;
    text-align: start !important;
  }
  .item-info p {
    font-size: 1rem !important;
    color: #fff !important;
  }
  .item-info {
    display: block !important;
  }
  .btnsDiv {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    margin-top: 3%;
  }
  .btnsDiv .eye {
    height: 2rem !important;
    width: 3rem !important;
    color: #fff !important;
  }
  .btnsDiv .ghub {
    height: 2rem !important;
    width: 3rem !important;
    color: #fff !important;
  }
  .btnsDiv .eye:hover {
    color: aquamarine !important;
    transition: color 0.5s ease-in-out !important;
  }
  .btnsDiv .ghub:hover {
    color: aquamarine !important;
    transition: color 0.5s ease-in-out !important;
  }

  .item-text {
    margin-bottom: 0 !important;
    padding-top: 1rem !important;
  }
}
/* /////////////home/////////////////////// */

.home {
  height: 91vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}
.home-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.home-row .typing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-row .typing .static-text {
  text-align: center;
  color: #fff;
  font-size: 4rem;
}
.home-row .typing .static-text span {
  color: #00ff00;
}
.home-row .typing .loop {
  color: #00ff00;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
.defaultLines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* ////////about////////// */
.about .img-div img {
  height: 15rem;
  width: 23rem;
  margin-top: 3rem;
}
.about {
  display: flex;
  flex-direction: column-reverse;
}
.about .img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .text-div h2 {
  color: var(--clr-primary-5);
}
.about .text-div ul li #hr {
  color: var(--clr-primary-5);
}
.about .text-div p,
li {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
}
.about .text-div p span {
  color: var(--clr-primary-5);
}
.tech-icons {
  font-size: 4.5em;
  margin: 10px;
  padding: 10px;
  opacity: 0.93;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  color: var(--clr-white);
}
.tech-icons:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid rgba(197, 115, 230, 0.883);
}
.tech-icon-images {
  padding: 20px;
  line-height: 1.6;
}
.projectheading {
  font-size: 2rem;
  color: var(--clr-primary-5);
  text-align: center;
  margin: 2rem 0;
}
.skills .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* /////////contact////// */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page {
  background: url(./images/header-1.jpg);
  height: 90.9vh;
  overflow-x: hidden;
}
#contact .contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 70%;
  margin-top: 2rem;
}
#contact .contactDiv .imgDiv .emailLogo {
  height: 1.5rem;
  width: 2.5rem;
  color: rgba(228, 228, 228, 0.867);
}
#contact .contactDiv .imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
#contact .contactDiv .textDiv p {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.8px;
  line-height: 1;
  font-weight: 400;
}
.formDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  height: 32rem;
}
.formDiv form {
  width: 65%;
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 2rem;
}
.formDiv form textarea {
  width: 11rem;
  font-size: 1.2rem;
}
.formDiv form label {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
}
.formDiv form input {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
}
.formDiv form .submitButton button {
  width: 95%;
  margin-top: 3%;
  font-size: 1rem;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(228, 228, 228, 0.267);
}
.formDiv .details {
  align-self: center;
  margin-top: 1.5rem;
  width: 80%;
  padding-left: 1.5rem;
}
.formDiv .details h4 {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
.formDiv .details .address p,
.formDiv .details .address span {
  font-size: 1rem;
  color: #fff;
}
/* ////////////project//////// */
menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
}

.underline {
  width: 15rem;
  height: 0.25rem;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  display: none;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  overflow-x: hidden;
  margin-bottom: 3rem;
}
.item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
  display: block;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}
.item-info p {
  font-size: 0.8rem;
  color: #fff;
}
.btnsDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 3%;
}
.btnsDiv .eye {
  height: 2rem;
  width: 3rem;
  color: #fff;
}
.btnsDiv .ghub {
  height: 2rem;
  width: 3rem;
  color: #fff;
}
.btnsDiv .eye:hover {
  color: aquamarine;
  transition: color 0.5s ease-in-out;
}
.btnsDiv .ghub:hover {
  color: aquamarine;
  transition: color 0.5s ease-in-out;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}
.bubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 385%;
  z-index: -1;
}
